<article class="functions-container">
  <section class="functions-top">
    <h3>Select a position</h3>
    <select class="form-control" [(ngModel)]="positionSelected" (ngModelChange)="onChange($event)">
      <option *ngFor="let position of positions" [ngValue]="position">
        {{position.name}}
      </option>
    </select>
  </section>

  <section class="functions-center">
    <div class="functions-container-img">
      <img src="../../../../assets/images/skill-img.jpeg" class="img-thumbnail functions-img" alt="abilities">
    </div>

    <ul *ngIf="abilities.length > 0" class="functions-center-list">
      <li *ngFor="let ability of abilities" class="functions-center-list-item">
        {{ability.name}}
      </li>
    </ul>

    <div *ngIf="abilities.length <= 0"
         class="jumbotron bg-transparent incidents-list-jumbotron functions-center-list-text">
      <p class="lead">This position don not have any ability registered yet.</p>
    </div>
  </section>

  <section class="functions-center">
    <div class="functions-container-img">
      <img src="../../../../assets/images/many-positions-img.jpg" class="img-thumbnail functions-img" alt="abilities">
    </div>

    <ul *ngIf="equipments.length > 0" class="functions-center-list">
      <li *ngFor="let safetyEquipment of equipments" class="functions-center-list-item">{{safetyEquipment.name}}</li>
    </ul>

    <div *ngIf="equipments.length <= 0"
         class="jumbotron bg-transparent incidents-list-jumbotron functions-center-list-text">
      <p class="lead">This position does not require any specific safety equipment.</p>
    </div>

  </section>


</article>
